<% if !current_user.nil? and current_user.admin? %>
<h1>All orders</h1>
<% else %>
<h1>Order History </h1>
<% end %>

<div class="row">
    <div class="col-md-2">
    <div class="side1">
      
        <ul class="list-group">
          <li class="list-group-item list-group-item-success"><%= link_to 'Edit Profile', edit_user_registration_path %></li>
          <li class="list-group-item list-group-item-info"><%= link_to 'Order History', orders_path %></li>
          <li class="list-group-item"></li>
          <li class="list-group-item list-group-item-warning"><b>Categories</b></li>
        <li class="list-group-item"><%= link_to 'All Categories', categories_path %></li>
        
          <%= render @categories %>
        </ul>
    </div>
  </div>
  <div class="col-md-10">
    <div class="side1">
      <div class="sidetop">
      <ol class="breadcrumb">
        <li><%= link_to 'Home', root_path, :class => 'sid' %></li></li>
        <li><%= link_to "Orders", orders_path, :class => 'sid' %></li>
        
      </ol>
      </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>User</th>
              <th>Email</th>
              <th>Name</th>
              <th>Shipping Address</th>
              <th>Pay type</th>
              <th>Created at</th>
              <th>Updated at</th>
              <th>Order status</th>
              <th colspan="3"></th>
            </tr>
          </thead>
        <% if !current_user.nil? and current_user.admin? %>
          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td><%= order.user_id %></td>
                <td><%= order.email %></td>
                <td><%= order.name %></td>
                <td><%= order.address %></td>
                <td><%= order.pay_type %></td>
                <td><%= order.created_at %></td>
                <td><%= order.updated_at %></td>
                <td><% if order.order_status == '0' %> Waiting To Be Shipped <% elsif order.order_status == '1' %> SHIPPED <% end %></td>
                <td><%= link_to 'View', order, :class => 'btn btn-primary btn-sm' %></td>
                <td><%= link_to 'Edit', edit_order_path(order), :class => 'btn btn-info btn-sm' %></td>
                <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-sm' %></td>
              </tr>
            <% end %>
          </tbody>
        <% else %>  
            <tbody>
            <% @orders2.each do |order| %>
              <tr>
                <td><%= order.user_id %></td>
                <td><%= order.email %></td>
                <td><%= order.name %></td>
                <td><%= order.address %></td>
                <td><%= order.pay_type %></td>
                <td><%= order.created_at %></td>
                <td><%= order.updated_at %></td>
                 <td><% if order.order_status == '0' %> Waiting To Be Shipped <% elsif order.order_status == '1' %> SHIPPED <% end %></td>
                <td><%= link_to 'View', order, :class => 'btn btn-primary btn-sm' %></td>
                <td><%= link_to 'Edit', edit_order_path(order), :class => 'btn btn-info btn-sm' %></td>
                <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-sm' %></td>
              </tr>
            <% end %>
          </tbody>
        <% end %>  
        </table>
    </div>
  </div>
  
</div>




<h1>Listing orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Email</th>
      <th>Name</th>
      <th>Address</th>
      <th>Pay type</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Order status</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<% if !current_user.nil? and current_user.admin? %>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.user_id %></td>
        <td><%= order.email %></td>
        <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td><%= order.pay_type %></td>
        <td><%= order.created_at %></td>
        <td><%= order.updated_at %></td>
        <td><%= order.order_status %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
<% else %>  
    <tbody>
    <% @orders2.each do |order| %>
      <tr>
        <td><%= order.user_id %></td>
        <td><%= order.email %></td>
        <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td><%= order.pay_type %></td>
        <td><%= order.created_at %></td>
        <td><%= order.updated_at %></td>
        <td><%= order.order_status %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
<% end %>  
</table>

<br>

<%= link_to 'New Order', new_order_path %>
