<div class="row">
		<div class="col-md-2">
		<div class="side1">
			
				<ul class="list-group">
				  <li class="list-group-item list-group-item-success"><%= link_to 'Edit Profile', edit_user_registration_path %></li>
				  <li class="list-group-item list-group-item-info"><%= link_to 'Order History', orders_path %></li>
				  <li class="list-group-item"></li>
				  <li class="list-group-item list-group-item-warning"><b>Categories</b></li>
				<li class="list-group-item"><%= link_to 'All Categories', categories_path %></li>
				
					<%= render @categories %>
				</ul>
		</div>
	</div>
	<div class="col-md-10">
		<div class="side1">
			<div class="sidetop">
			<ol class="breadcrumb">
			  <li><%= link_to 'Home', root_path, :class => 'sid' %></li></li>
			  <li><%= link_to "category", categories_path, :class => 'sid' %></li>
			  <li class="active"><%= @category.name %></li>
			</ol>
			</div>
			<div class="row">
				<% @products.each do |product| %>
			  <div class="col-md-4">
				<div class="prod">
					<div class="prod_img">
						<%= image_tag @product_images.first.picture.url %>
						
					</div>
					<div class="prod_txt"><%= product.name %><br />
					<b><%= number_to_currency(product.unit_price) %></b><br />
					<%= link_to('View Product', product, :class => 'btn btn-primary btn-sm')  %>
					<%= button_to 'Add to Cart' , line_items_path(:product_id => product), :remote => true %>
					<% if !current_user.nil? and current_user.admin? %>
					<%= link_to 'Edit', edit_product_path(product), :class => 'btn btn-info btn-sm' %>
					<%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-sm' %>
					<% end %>
					</div>
				</div>
			   </div>
			   <% end %>
			</div>
		</div>
	</div>
	
</div>

<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @category.created_at %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>

-->