<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @review.username %>
</p>

<p>
  <strong>Review:</strong>
  <%= @review.review %>
</p>

<p>
  <strong>Product:</strong>
  <%= @review.product_id %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @review.created_at %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
